@import "tailwindcss";

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Thin.ttf');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-UltraLight.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Black.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Heavy.ttf');
    font-weight: 900;
    font-style: normal;
}


*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: clamp(14px, 1vw, 20px);
    font-family: "Gilroy";
    color: white;
}


.font-jersey-10 {
    font-family: "Jersey 10", sans-serif;
  }

.font-gilroy{
    font-family: "Gilroy";
  }

.inver-color{
    filter: invert(1);
}

.infinite-marquee{
  animation-name: infinite-marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.infinite-marquee-reverse{
  animation-name: infinite-marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes infinite-marquee {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.loop-marquee{
  animation-name: loop-marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.loop-marquee-reverse{
  animation-name: loop-marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes loop-marquee {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.font-dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
